.carousel-inner{
	max-height: 500px;
}
.carousel-inner img{
	min-height: 400px;
}
.opcion > div {
	margin: 20px;
}
ul.pl-15{
	padding-left: 15px;
}
ul.pl-15 > li{
	margin-top: 5px;
}
.titulo {
	border-left: 5px solid var(--color-primary);
	padding-left: 20px;
}
.date, .time{
	max-width: 350px;
}
.date > .input-group-addon{
	background-color: transparent;
	border: none;
	color: #ffffff;
}
.date > .form-control{
	background-color: transparent;
	border: none;
	color: #fff;
}
.date > input.form-control::placeholder{
	color: #fff;	
}
.time > .input-group-addon{
	background-color: transparent;
	border-right: none;
}
.time > .form-control{
	border-left: none;
}
.cargo{
	display:none
}
.cargo ~ label {

}
.cargo:checked ~ label{
	background-color: #e1e9f4;
	border: 1px solid blue;
}